{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
 {{include 'web2py_ajax.html'}}

<head>
   
    <script>
$(document).ready(function(){
    $(".view_bids_class").hide()
  $(".view_bids_link").click(function(){
   $(".view_bids_class").show();
  });
});
</script>
<style>
    .view_post_title {
        width: 200px;
        float: left;
    }
    .view_post_text {
        width: 250px;
        float: right;
    }
    
</style>
</head>
<body>
{{for row in rows:}}
    <div id="view_post">
        <div> <img src="{{=URL('download', args=row.item_img)}}" /></div><br>
        <div class="view_post_title">Item:</div><div class="view_post_text">{{=row.item_name}}</div><br>
    <div class="view_post_title">Category:</div><div class="view_post_text">{{=row.category}}</div><br>
    <div class="view_post_title">Posted By:</div><div class="view_post_text">{{=row.created_by.first_name}}</div><br>
    <div class="view_post_title">Price:</div><div class="view_post_text">{{=row.price}}</div><br>
    <div class="view_post_title">Number of People Bidded:</div><div class="view_post_text">{{=row.ppl_bid}}</div><br>
    
    <div class="view_post_title">Name:</div><div class="view_post_text">{{=row.created_by.first_name}} {{=row.created_by.last_name}}</div><br>
    <div class="view_post_title">Email address:</div><div class="view_post_text">{{=row.created_by.email}}</div><br>
    <div class="view_post_title">contact No:</div><div class="view_post_text"></div><br>
</div><br><br>
{{pass}}
    
    <div class="view_bids_link"><a href="#">View Bids</a></div>
    {{if len(bidder_rows)>0 : }}
  {{for brow in bidder_rows:}}
    <div class="view_bids_class">Bidded By: {{=brow.bidding.bidder_user_fn}} {{=brow.bidding.bidder_user_ln}} </div><div class="view_bids_class">Bid Time: {{=brow.bidding.bid_datetime}}</div><div class="view_bids_class"> Bidded price:{{=brow.bidding.bid_price}}</div><br>
   {{pass}}
   {{else:}}
    <div class="view_bids_class">No Bidders</div>
    {{pass}}
    <div class="bid_form"> {{=bid_form}}</div>  

</body>
